@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --container-width: 60vw;
  --container-height: 70vh;
  --light-color: rgb(222, 222, 222);
  --dark-bg-color: #4b4a53;
  --book-bg-color: #decec1;
  --book-secondary-color: #64656e; 
  --dark-text-color: black;
  /* --btn-color: rgb(93, 117, 108); */
  --btn-color: rgb(58, 102, 109);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Center content on the page */
body {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 100vw;
  place-items: center;
}

.container {
  width: var(--container-width);
  height: var(--container-height);
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 48px;
  color: var(--light-color);
  padding-bottom: 24px;
}

/* Interaction */

.hidden {
  visibility: hidden;
}

.no-interaction {
  pointer-events: none;
}

input[type=submit], button {
  cursor: pointer;
  background-color: var(--btn-color);
  color: var(--light-color);
  border: none;
  box-shadow: 1px 1px 4px rgb(30, 30, 30);
}

input[type=submit]:active, 
button:active,
.close-button:active {
  transform: scale(0.95);
}

/* Main Styling */

.outer {
  background-color: var(--light-color);
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  border-radius: 36px;
  flex-grow: 1;
  overflow: hidden;
  padding-right: 10px;
  position: relative; /* for form positioning (see bottom) */
}

.card-container {
  /* border: 3px solid magenta; */
  overflow-y: auto;
  height: calc(100% - 80px);
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: 300px;
  grid-auto-rows: 300px;
  gap: 24px;
}

.card {
  /* border: 2px solid blue; */
  border-radius: 24px;
}

.card.placeholder {
  --gray-color: rgb(165, 165, 165);
  border: 2px dashed var(--gray-color);
  display: grid;
  place-items: center;
}

.card.placeholder > div {
  padding: 0px 14px;
  font-size: 48px;
  color: var(--gray-color);
  border: 2px solid var(--gray-color);
  border-radius: 30px;
}

.card.placeholder > div:hover {
  cursor: pointer;
}

.card.book {
  background-color: var(--book-bg-color);
  box-shadow: 2px 2px 6px rgb(106, 106, 106);
  color: var(--dark-text-color);
  border-left: 36px solid var(--book-secondary-color);
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  position: relative;
  padding: 48px 20px;
  padding-bottom: 16px;
}

.book .read-container {
  border-radius: 24px 0 24px 0;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: linear-gradient(to bottom right, #d4c5b8 50%, #d1d1c8 50%);
}

.book .read-container::after {
  position: absolute;
  content: "✔︎";
  font-size: 24px;
  bottom: 15%;
  right: 20%;
}

.book:not(.is-read) .read-container {
  visibility: hidden;
}

.book > .title,
.book > .author {
  text-align: center;
}

.book > .author {
  flex-grow: 1;
}

.book > .pages {
  align-self: start;
}

.book > .actions-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 25%;
}

.actions-container button {
  height: 60px;
  width: 170px;
  border-radius: 30px;
  font-size: 1.1rem;
}

.book:hover .actions-container {
  display: visible;
}

.book:not(:hover) .actions-container {
  visibility: hidden;
}

/* Add book form */

.form-container {
  --form-width: clamp(200px, 40%, 420px);
  --form-height: clamp(200px, 60%, 320px);
  /* border: 2px solid magenta; */
  border-radius: 10px;
  background-color: var(--dark-bg-color);
  opacity: 0.95;
  color: var(--light-color);
  box-shadow: 3px 3px 8px rgb(128, 128, 128);
  position: absolute;
  width: var(--form-width);
  top: calc(45% - 0.5*var(--form-height));
  left: calc(50% - 0.5*var(--form-width));
  padding: 30px;
}

.close-button {
  font-size: 20px;
  color: rgb(113, 0, 0);
  text-align: center;
  background-color: rgb(210, 1, 1);
  width: 24px;
  height: 24px;
  border-radius: 12px;
  position: absolute;
  top: 7.8%;
  right: 5%;
}

.close-button:not(:active):hover {
  cursor: pointer;
  color: white;
  transform: scale(1.1);
}

.close-button:active {
  color: white;
}

.add-book-form {
  /* border: 2px dashed black; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

.add-book-form input[type=text],
.add-book-form input[type=number] {
  height: 30px;
  border-radius: 20px;
  font-size: 20px;
  color: var(--dark-text-color);
  background-color: var(--light-color);
  padding: 3px 16px;
}

.title-container,
.author-container{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.pages-read {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 24px 12px;
}

.pages-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.pages-container input {
  width: 60px;
}

.submit-button {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  align-self: center;
  font-size: 18px;
  margin-top: 12px;
}


/* SLIDER SWITCH */

.read-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
